@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

body {
  font-family: 'Inter', sans-serif;
}
::selection {
  background-color: var(--primary-color);
  color: white;
}

.p-card {
  font-family: 'Inter', sans-serif;
}
.p-card .p-card-title {
  font-size: 1.2rem;
  color: black;
}
ul.p-menubar-root-list {
  margin-left: auto !important;
}
.p-menubar-button {
  margin-left: auto;
}
.github-button {
  background-color: black;
  position: fixed;
  bottom: 30px;
  right: 30px;
}
.p-button.github-button:active,
.p-button.github-button:hover {
  background-color: black;
}
.p-inputtextarea {
  width: 100%;
}
.p-listbox-item {
  pointer-events: none;
}
